* {
  font-family: monospace;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  width: 100px;
  height: 100px;
  font-size: 3rem;
  user-select: none;
}